.text-navbar-tt{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

.img-jj-navbar{
    width: 30px;
    height: 30px;
    margin-left: 0.7em;
    margin-right: 0.2em;
  
}

.fa-solid {
   color: white; 
   margin-left: 1em;
   font-size: 16px;
   text-decoration: none;

}
.fa-regular{
    color: white; 
    margin-left: 1em;
    font-size: 19px;
    text-decoration: none;
 }

 .text-navbar-tt:hover{
    color: rgb(37, 70, 169);
 }
 .fa-solid:hover{
    color: rgb(37, 70, 169);
 }
 .fa-regular:hover{
    color: rgb(37, 70, 169);
 }

 /*.img-jj-navbar:hover{
    opacity: 0.5;
 }*/

 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Posición inicial y final, sin rebote */
    }
    40% {
      transform: translateY(-5px); /* Rebote hacia arriba */
    }
    60% {
      transform: translateY(-5px); /* Rebote hacia abajo */
    }
  }
  
  /* Estilo inicial de la imagen (sin transformación) */
  #imagen-rebotante {
    transform: translateY(0);
  }
.navbar{
   position: relative;
   z-index: 3;
   
}
  .nav-link:hover{
   color: aliceblue;

  }
  .dropdown-menu:hover{
    color: aliceblue;
  }

  .dropdown-item:hover{
   color: gray;
  }

body{
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
  /* background-image: url('img/logoJJBuenaCalidad\ sin\ fondo.png');*/
 
  }

  .navbar.bg-body-black {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000; /* Ajusta el valor del índice z según sea necesario */
 }
 
 /* Estilo para la segunda barra de navegación superior */
 .navbar.bg-body-info {
   position: fixed;
   top: 50px; /* Ajusta la altura de la primera barra de navegación */
   left: 0;
   width: 107%;
   z-index: 1000; /* Ajusta el valor del índice z según sea necesario */
 }
 
 /* Estilo para el contenido principal */
 .pag {
   margin-top: 100px; /* Ajusta la altura total de ambas barras */
 }

 

 .card-title{
   color: aliceblue;
 }

 .card-text {
   font-size: 0.95rem; /* Tamaño de fuente normal para el texto */
   max-height: 200px; /* Altura máxima del área de texto */
   overflow: hidden; /* Oculta el contenido que se desborda */
   color: aliceblue; /* Color del texto */
}

 .card-img-top{
   position: relative;
   overflow: hidden;
   max-height: 100%;
   align-items: center;
   border-radius: 4px;
   justify-content: center;
   transition: max-height 0.3s ease;
 }

 .card-body{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.692);
   text-align: center;
   border-radius: 4px;
 }

 .card:hover .card-body {
   display: block;
 }